<?xml version="1.0" encoding="UTF-8"?>
<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->

<configuration>

    <substitutionProperty name="log.base" value="${catalina.base}/logs/loanContract"/>
    <substitutionProperty name="log.error" value="${log.base}/error"/>
    <substitutionProperty name="log.rabbitMq" value="${log.base}/rabbitMq"/>
    <substitutionProperty name="log.app" value="${log.base}/app"/>
    <substitutionProperty name="log.root" value="${log.base}/root"/>
    <substitutionProperty name="log.task" value="${log.base}/task"/>

    <!--根日志-->
    <appender name="root" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return mdc.get("LOG_TYPE") == null;</expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>${log.root}/root.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.root}/root.log.%d{yyyy-MM-dd}.zip</FileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level [%F:%L] %X{transactionId} - %msg%n
                </Pattern>
            </layout>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <!--业务日志-->
    <appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return "APP".equals(((String)mdc.get("LOG_TYPE")));</expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>${log.app}/app.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.app}/app.log.%d{yyyy-MM-dd-HH}.zip</FileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>5MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level [%F:%L] %X{transactionId} - %msg%n
                </Pattern>
            </layout>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <!--MQ日志文件 -->
    <appender name="rabbitMq"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.rabbitMq}/rabbitMq.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${log.rabbitMq}/rabbitMq.log.%d{yyyy-MM-dd}.zip
            </FileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%logger{80} ] %X{transactionId} - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--错误日志-->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <File>${log.error}/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${log.error}/error.log.%d{yyyy-MM-dd}.zip
            </FileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss:SSS} [%t] %-5level [%logger{0} ] %X{transactionId} - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 任务日志 -->
    <appender name="task" class="ch.qos.logback.classic.sift.SiftingAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return "TASK".equals(((String)mdc.get("LOG_TYPE")));</expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <discriminator>
            <Key>LOG_TYPE</Key>
            <Key>TASK_NAME</Key>
            <DefaultValue>unknown_task</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${TASK_NAME}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${log.task}/${TASK_NAME}/${TASK_NAME}.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <FileNamePattern>${log.task}/${TASK_NAME}/${TASK_NAME}.log.%d{yyyy-MM-dd}.zip</FileNamePattern>
                    <TimeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <MaxFileSize>30MB</MaxFileSize>
                    </TimeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                    <layout class="ch.qos.logback.classic.PatternLayout">
                        <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level [%F:%L] %X{transactionId} - %msg%n</Pattern>
                    </layout>
                    <charset class="java.nio.charset.Charset">UTF-8</charset>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!--控制台输出-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level [%F:%L] %X{transactionId} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="com.iboxpay.microcredit.commom.rabbitMq" level="INFO" additivity="true">
        <appender-ref ref="rabbitMq"/>
    </logger>



    <logger name="org.springframework" level="INFO"/>
    <logger name="org.mybatis" level="INFO"/>
    <logger name="com.iboxpay" level="INFO"/>
    <logger name="dao" level="DEBUG"></logger>

    <root level="INFO">
        <appender-ref ref="root"/>
        <appender-ref ref="app"/>
        <appender-ref ref="error"/>
        <appender-ref ref="task"/>
        <!--非本地关闭-->
        <appender-ref ref="stdout"/>
    </root>
</configuration>